# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Virtual environment
venv/
env/
*.env

# Distribution / packaging
build/
dist/
*.egg-info

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDEs and editors
.idea/

# Test coverage
.coverage
.coverage.*
*.coveragerc

# Flask/Django
instance/
.webassets-cache

# Pycharm
.idea/

# VS Code extensions settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
